<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert" *ngIf="addressGenerated">
      <i class="fa fa-check-circle" aria-hidden="true"></i> Address generated successfully! Address: {{address}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="alert alert-success" role="alert" *ngIf="updateSuccessful">
      <i class="fa fa-check-circle" aria-hidden="true"></i> User updated successfully!
    </div>
  </div>
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert" *ngIf="updateError">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Error while updating user!
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="text-center"><i class="fa fa-user"></i> Personal details</h4>
    <hr>
    <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter your full name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter your email" readonly>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confPassword" name="confPassword"
               formControlName="confPassword" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary btn-block" [disabled]="!detailsForm.valid"><i class="fa fa-check"></i> Save Details</button>
    </form>
  </div>

  <div class="col-md-6">
    <h4 class="text-center"><i class="fa fa-hashtag"></i> Generate addresses</h4>
    <hr>
    <form [formGroup]="generateAddressForm" (ngSubmit)="generateAddress()" novalidate>
      <div class="form-group">
        <label for="name">Address alias</label>
        <input type="text" class="form-control" id="alias" name="alias" formControlName="alias" placeholder="Small donations">
      </div>
          <button class="btn btn-success btn-block" type="submit"><i class="fa fa-hashtag"></i> Generate address</button>
    </form>
  </div>
</div>
